.comand {
    background-color: var(--second-background-color);
}
.comand__title {
    margin-bottom: 50px;

    font-style: normal; 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.comand__list{
    display: flex;
    flex-wrap: wrap;
}
.comand__item {
    background-color: var(--hero-title-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow-comand);

    &:not(:nth-child(4n)){
        margin-right: 30px;
    }
}


.comand__box{
    padding-top: 30px;
    padding-bottom: 30px;
}
.comand__name {
    margin-bottom: 10px; 

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.comand__work {
    margin-bottom: 16px;
   
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);
}


.social-network{
    display: flex;
    padding: 0 32px;

}
.social-network__item:not(:last-child){
    margin-right: 10px;
}

.social-network__link{
    @extend %align-center;
    width: 44px;
    height: 44px;

    color: var(--social-icon);

    transition: background-color var(--timer) var(--cubic-bezier),
    border-radius var(--timer) var(--cubic-bezier),
    color var(--timer) var(--cubic-bezier);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
        border-radius: 50% 50%;
        color: var(--hero-title-color);
    }

}

.social-network__icon{
    fill: currentColor;
}